{% extends 'navigation.html'%}
{% load static %}
{% block body %}

<section class="about" id="about">

    <div class="image">
        <img src="{% static 'images/Learning-amico.png' %}" alt="">
    </div>

    <div class="content">
        <h3>All About Of Our Company</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum odit, quam doloremque rem porro velit tenetur minima perferendis dicta sit hic eius, aliquid maxime? Delectus similique dolorem a quod placeat?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta voluptatum molestiae quam inventore voluptate corporis!</p>
    </div>

</section>
{% endblock %}